.dashboard {
  min-height: 100vh;

  background: linear-gradient(135deg, #100000, #330000, #000);

  color: white;
}

.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 50px;

  backdrop-filter: blur(20px);

  background: rgba(255, 255, 255, 0.05);

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-left {
  display: flex;

  align-items: center;

  gap: 15px;
}

.nav-left h2 {
  font-size: 28px;
}

.live-status {
  display: flex;

  align-items: center;

  gap: 8px;

  padding: 10px 20px;

  border-radius: 40px;

  background: rgba(255, 255, 255, 0.08);
}

.live-dot {
  height: 10px;

  width: 10px;

  border-radius: 50%;

  background: red;

  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

.dashboard-content {
  padding: 40px;
}

.stats {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.stat-card {
  padding: 30px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(15px);

  box-shadow: 0 0 20px rgba(255, 0, 0, 0.15);

  text-align: center;
}

.stat-card h3 {
  font-size: 45px;
}

.critical-box {
  border: 1px solid red;
}

.section-title {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 50px;
}

.section-title input {
  padding: 14px;

  border: none;

  outline: none;

  border-radius: 15px;

  width: 250px;

  background: rgba(255, 255, 255, 0.08);

  color: white;
}

.request-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 25px;

  margin-top: 30px;
}

.request-card {
  padding: 25px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: 0.4s;
}

.request-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
}

.card-header {
  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;
}

.card-info {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.card-info p {
  display: flex;

  gap: 10px;

  align-items: center;
}

.urgency {
  padding: 8px 15px;

  border-radius: 30px;

  display: flex;

  gap: 6px;

  font-size: 13px;
}

.critical {
  background: #ff000040;
}

.medium {
  background: orange;
}

.low {
  background: green;
}

.donate-btn {
  width: 100%;

  margin-top: 25px;

  padding: 14px;

  border: none;

  border-radius: 15px;

  background: linear-gradient(90deg, #ff2d2d, #7d0000);

  color: white;

  font-weight: bold;

  cursor: pointer;
}

@media (max-width: 900px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: 20px;
  }

  .dashboard-content {
    padding: 20px;
  }

  .section-title {
    flex-direction: column;
    gap: 20px;
  }
}
