.dashboard {
  min-height: 100vh;

  background: linear-gradient(135deg, #100000, #330000, #000);

  color: white;
}

.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 18px 40px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  position: sticky;

  top: 0;

  z-index: 100;
}

/* LEFT */

.nav-left {
  display: flex;

  align-items: center;

  gap: 15px;
}

.nav-left h2 {
  margin: 0;

  font-size: 28px;

  font-weight: 700;

  color: white;
}

.sub-text {
  font-size: 12px;

  color: #ffb0b0;

  letter-spacing: 1px;
}

/* RIGHT SIDE */

.nav-right {
  display: flex;

  align-items: center;

  gap: 20px;
}

.create-link {
  text-decoration: none;
}

.create-btn {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 13px 22px;

  border: none;

  border-radius: 50px;

  background: linear-gradient(90deg, #ff3434, #870000);

  color: white;

  font-weight: 700;

  cursor: pointer;

  transition: 0.35s;

  box-shadow: 0 0 25px rgba(255, 0, 0, 0.25);
}

.create-btn:hover {
  transform: translateY(-3px);

  box-shadow: 0 0 35px rgba(255, 0, 0, 0.45);
}

.live-status {
  display: flex;

  align-items: center;

  gap: 10px;

  padding: 12px 18px;

  border-radius: 50px;

  background: rgba(255, 255, 255, 0.06);

  color: white;
}

.live-dot {
  width: 10px;

  height: 10px;

  border-radius: 50%;

  background: red;

  box-shadow: 0 0 15px red;

  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

.dashboard-content {
  padding: 40px;
}

.stats {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.stat-card {
  padding: 30px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(15px);

  box-shadow: 0 0 20px rgba(255, 0, 0, 0.15);

  text-align: center;
}

.stat-card h3 {
  font-size: 45px;
}

.critical-box {
  border: 1px solid red;
}

.section-title {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 50px;
}

.section-title input {
  padding: 14px;

  border: none;

  outline: none;

  border-radius: 15px;

  width: 250px;

  background: rgba(255, 255, 255, 0.08);

  color: white;
}

.request-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  gap: 25px;

  margin-top: 30px;
}

.request-card {
  padding: 25px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: 0.4s;
}

.request-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
}

.card-header {
  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;
}

.card-info {
  display: flex;

  flex-direction: column;

  gap: 15px;
}

.card-info p {
  display: flex;

  gap: 10px;

  align-items: center;
}

.urgency {
  padding: 8px 15px;

  border-radius: 30px;

  display: flex;

  gap: 6px;

  font-size: 13px;
}

.critical {
  background: #ff000040;
}

.medium {
  background: orange;
}

.low {
  background: green;
}

.donate-btn {
  width: 100%;

  margin-top: 25px;

  padding: 14px;

  border: none;

  border-radius: 15px;

  background: linear-gradient(90deg, #ff2d2d, #7d0000);

  color: white;

  font-weight: bold;

  cursor: pointer;
}

@media (max-width: 900px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: 20px;

    flex-direction: column;

    gap: 20px;
  }

  .nav-right {
    flex-direction: column;

    width: 100%;
  }

  .create-btn {
    width: 100%;

    justify-content: center;
  }

  .live-status {
    width: 100%;

    justify-content: center;
  }

  .dashboard-content {
    padding: 20px;
  }

  .section-title {
    flex-direction: column;
    gap: 20px;
  }
}
.brand-text {
  display: flex;
  flex-direction: column;
}

.dashboard-link {
  text-decoration: none;
  width: fit-content;
}

.dashboard-link h2 {
  margin: 0;

  font-size: 28px;

  font-weight: 700;

  color: white;

  transition: 0.3s;
}

.dashboard-link h2:hover {
  color: #ff7d7d;

  text-shadow: 0 0 12px rgba(255, 0, 0, 0.7);
}
