*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

.login-page{
display:flex;
min-height:100vh;
background:
linear-gradient(
135deg,
#430000,
#870909,
#000
);
overflow:hidden;
}

/* LEFT */

.left-section{
width:50%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
position:relative;
padding:50px;
}

.left-section h1{
font-size:65px;
font-weight:800;
margin-top:25px;
}

.left-section p{
margin-top:15px;
color:#f4c4c4;
font-size:20px;
}

.tagline{
display:flex;
gap:10px;
margin-top:35px;
align-items:center;
padding:14px 22px;
border-radius:50px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(10px);
}

/* RIGHT */

.right-section{
width:50%;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.login-card{

width:420px;

padding:50px;

border-radius:30px;

background:
rgba(255,255,255,.08);

backdrop-filter:
blur(20px);

border:
1px solid
rgba(255,255,255,.15);

box-shadow:
0 0 50px rgba(
255,
0,
0,
.2
);
}

.login-card h2{
font-size:36px;
color:white;
margin-bottom:10px;
}

.login-card p{
color:#ffd3d3;
margin-bottom:35px;
}

.input-box{
display:flex;
align-items:center;
background:
rgba(255,255,255,.1);

padding:16px;
border-radius:15px;

margin-bottom:22px;

color:#fff;

border:
1px solid
transparent;

transition:.3s;
}

.input-box:hover{
border-color:#ff7676;
}

.input-box input{
width:100%;
margin-left:12px;
background:none;
outline:none;
border:none;
color:white;
font-size:16px;
}

.input-box input::placeholder{
color:#ddd;
}

button{

width:100%;

padding:16px;

border:none;

border-radius:15px;

background:
linear-gradient(
90deg,
#ff3f3f,
#8e0000
);

color:white;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.4s;
}

button:hover{
transform:
translateY(-3px);

box-shadow:
0 10px 35px
rgba(
255,
0,
0,
.5
);
}

.signup-text{
margin-top:30px;
color:white;
text-align:center;
}

.signup-text span{
color:#ff7d7d;
font-weight:700;
margin-left:7px;
cursor:pointer;
}

/* LOGO */

.logo-container{
position:relative;
}

.pulse-ring{
position:absolute;

width:170px;
height:170px;

border-radius:50%;

border:
2px solid
rgba(
255,
0,
0,
.4
);

top:50%;
left:50%;

transform:
translate(-50%,-50%);

animation:
pulse 2s infinite;
}

@keyframes pulse{

0%{
transform:
translate(-50%,-50%)
scale(.8);

opacity:1;
}

100%{
transform:
translate(-50%,-50%)
scale(1.4);

opacity:0;
}
}

.blood-svg{
filter:
drop-shadow(
0 0 25px red
);
}

/* mobile */

@media(max-width:900px){

.left-section{
display:none;
}

.right-section{
width:100%;
}

.login-card{
width:95%;
}
}